<a href="https://colab.research.google.com/github/mrgupta01/Electricity-billing-system/blob/main/EBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("electricity_bill_dataset.csv")
import pandas as pd
file_path="electricity_bill_dataset.csv"
df=pd.read_csv(file_path)
print(df.head())

   Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  Month  \
0   16          23.0             2.0         6.0      1.0          0     10
1   19          22.0             2.0         3.0      1.0          0      5
2    7          20.0             2.0         6.0      7.0          0      7
3    7          22.0             3.0        21.0      1.0          0      6
4   11          23.0             2.0        11.0      1.0          0      2

        City                                    Company  MonthlyHours  \
0  Hyderabad                    Tata Power Company Ltd.           384
1   Vadodara                                       NHPC           488
2     Shimla                            Jyoti Structure           416
3     Mumbai                            Power Grid Corp           475
4     Mumbai  Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)           457

   TariffRate  ElectricityBill
0         8.4           3225.6
1         7.8           3806.4
2         7.7           3203.2
3         9.2           4370.0
4         9.2           4204.4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fan              45345 non-null  int64
 1   Refrigerator     45345 non-null  float64
 2   AirConditioner   45345 non-null  float64
 3   Television       45345 non-null  float64
 4   Monitor          45345 non-null  float64
 5   MotorPump        45345 non-null  int64
 6   Month            45345 non-null  int64
 7   City             45345 non-null  object
 8   Company          45345 non-null  object
 9   MonthlyHours     45345 non-null  int64
 10  TariffRate       45345 non-null  float64
 11  ElectricityBill  45345 non-null  float64
dtypes: float64(6), int64(4), object(2)
memory usage: 4.2+ MB

In [ ]:
import pandas as pd

# Ensure the correct file path is specified.
# This assumes the file is in the same directory as the script.
# If not, use the full file path.
file_path = "electricity_bill_dataset.csv"

# Read the CSV file into a pandas DataFrame
try:
    df = pd.read_csv(file_path)
    print("File loaded successfully!")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except pd.errors.EmptyDataError:
    print(f"Error: The file at {file_path} is empty.")
except pd.errors.ParserError:
    print(f"Error: Could not parse the file at {file_path}. Check the file format.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

# Check if the DataFrame was created successfully
if df is not None:
    print(df.head())

    column_names = {
        'AirConditioner': 'Air Conditioner',
        'MotorPumps': 'Motor Pumps',
        'MonthlyHours': 'Monthly Hours',
        'TariffRate': 'Tariff Rate',
        'ElectricityBill': 'Electricity Bill'
    }
    df = df.rename(columns=column_names)
    print(df.head())
else:
    print("DataFrame creation failed. Check previous error messages.")

File loaded successfully!
   Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  Month  \
0   16          23.0             2.0         6.0      1.0          0     10
1   19          22.0             2.0         3.0      1.0          0      5
2    7          20.0             2.0         6.0      7.0          0      7
3    7          22.0             3.0        21.0      1.0          0      6
4   11          23.0             2.0        11.0      1.0          0      2

        City                                    Company  MonthlyHours  \
0  Hyderabad                    Tata Power Company Ltd.           384
1   Vadodara                                       NHPC           488
2     Shimla                            Jyoti Structure           416
3     Mumbai                            Power Grid Corp           475
4     Mumbai  Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)           457

   TariffRate  ElectricityBill
0         8.4           3225.6
1         7.8           3806.4
2         7.7           3203.2
3         9.2           4370.0
4         9.2           4204.4
   Fan  Refrigerator  Air Conditioner  Television  Monitor  MotorPump  Month  \
0   16          23.0              2.0         6.0      1.0          0     10
1   19          22.0              2.0         3.0      1.0          0      5
2    7          20.0              2.0         6.0      7.0          0      7
3    7          22.0              3.0        21.0      1.0          0      6
4   11          23.0              2.0        11.0      1.0          0      2

        City                                    Company  Monthly Hours  \
0  Hyderabad                    Tata Power Company Ltd.            384
1   Vadodara                                       NHPC            488
2     Shimla                            Jyoti Structure            416
3     Mumbai                            Power Grid Corp            475
4     Mumbai  Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)            457

   Tariff Rate  Electricity Bill
0          8.4            3225.6
1          7.8            3806.4
2          7.7            3203.2
3          9.2            4370.0
4          9.2            4204.4

In [ ]:
df.to_csv("electricity_bill_dataset.csv",index=False)

In [ ]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Column '{col}' categories values count:")
        print(df[col].value_counts())
        print("****************************************")

Column 'City' categories values count:
City
Hyderabad      2914
Navi Mumbai    2914
Ratnagiri      2892
Faridabad      2891
Gurgaon        2878
Ahmedabad      2868
New Delhi      2848
Mumbai         2846
Chennai        2834
Dahej          2821
Nagpur         2816
Noida          2793
Pune           2788
Shimla         2780
Kolkata        2740
Vadodara       2722
Name: count, dtype: int64
****************************************
Column 'Company' categories values count:
Company
Ringfeder Power Transmission India Pvt. Ltd.                          1486
JSW Energy Ltd.                                                       1477
Guj Ind Power                                                         1476
SJVN Ltd.                                                             1471
Maha Transco – Maharashtra State Electricity Transmission Co, Ltd.    1470
NTPC Pvt. Ltd.                                                        1466
Optibelt Power Transmission India Private Limited                     1463
Kalpataru Power                                                       1456
GE T&D India Limited                                                  1453
KEC International                                                     1442
Reliance Power                                                        1441
Orient Green                                                          1427
Torrent Power Ltd.                                                    1426
L&T Transmission & Distribution                                       1423
Unitech Power Transmission Ltd.                                       1421
Power Grid Corp                                                       1414
Jaiprakash Power                                                      1408
NLC India                                                             1408
Sunil Hitech Eng                                                      1405
Sterlite Power Transmission Ltd                                       1401
Adani Power Ltd.                                                      1400
Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)                             1398
NHPC                                                                  1397
Neueon Towers / Sujana Towers Ltd.                                    1395
Bonfiglioli Transmission Pvt. Ltd.                                    1389
Jyoti Structure                                                       1389
TransRail Lighting                                                    1386
Indowind Energy                                                       1385
CESC                                                                  1355
Tata Power Company Ltd.                                               1345
Reliance Energy                                                       1340
Toshiba Transmission & Distribution Systems (India) Pvt. Ltd.         1332
Name: count, dtype: int64
****************************************

In [ ]:
from sklearn.preprocessing import OneHotEncoder
categorical_columns = ['City', 'Company']
data=df.copy()
# Use sparse_output=False instead of sparse=False
encoder = OneHotEncoder(sparse_output=False, drop='first')
for col in categorical_columns:
    OneHotEncoded_data = encoder.fit_transform(data[[col]])
    encoded_df = pd.DataFrame(OneHotEncoded_data, columns=encoder.get_feature_names_out([col]))
    data = pd.concat([data, encoded_df], axis=1)
    # Remove inplace=True to avoid setting data to None.
    data = data.drop(col, axis=1) # inplace=True is removed
df=data.copy()
df.head()

,Fan,Refrigerator,Air Conditioner,Television,Monitor,MotorPump,Month,Monthly Hours,Tariff Rate,Electricity Bill,...,Company_Reliance Power,Company_Ringfeder Power Transmission India Pvt. Ltd.,Company_SJVN Ltd.,Company_Sterlite Power Transmission Ltd,Company_Sunil Hitech Eng,Company_Tata Power Company Ltd.,Company_Torrent Power Ltd.,Company_Toshiba Transmission & Distribution Systems (India) Pvt. Ltd.,Company_TransRail Lighting,Company_Unitech Power Transmission Ltd.
0,16,23.0,2.0,6.0,1.0,0,10,384,8.4,3225.6,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,19,22.0,2.0,3.0,1.0,0,5,488,7.8,3806.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,20.0,2.0,6.0,7.0,0,7,416,7.7,3203.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,22.0,3.0,21.0,1.0,0,6,475,9.2,4370.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11,23.0,2.0,11.0,1.0,0,2,457,9.2,4204.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 56 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Fan                                                                         45345 non-null  int64
 1   Refrigerator                                                                45345 non-null  float64
 2   Air Conditioner                                                             45345 non-null  float64
 3   Television                                                                  45345 non-null  float64
 4   Monitor                                                                     45345 non-null  float64
 5   MotorPump                                                                   45345 non-null  int64
 6   Month                                                                       45345 non-null  int64
 7   Monthly Hours                                                               45345 non-null  int64
 8   Tariff Rate                                                                 45345 non-null  float64
 9   Electricity Bill                                                            45345 non-null  float64
 10  City_Chennai                                                                45345 non-null  float64
 11  City_Dahej                                                                  45345 non-null  float64
 12  City_Faridabad                                                              45345 non-null  float64
 13  City_Gurgaon                                                                45345 non-null  float64
 14  City_Hyderabad                                                              45345 non-null  float64
 15  City_Kolkata                                                                45345 non-null  float64
 16  City_Mumbai                                                                 45345 non-null  float64
 17  City_Nagpur                                                                 45345 non-null  float64
 18  City_Navi Mumbai                                                            45345 non-null  float64
 19  City_New Delhi                                                              45345 non-null  float64
 20  City_Noida                                                                  45345 non-null  float64
 21  City_Pune                                                                   45345 non-null  float64
 22  City_Ratnagiri                                                              45345 non-null  float64
 23  City_Shimla                                                                 45345 non-null  float64
 24  City_Vadodara                                                               45345 non-null  float64
 25  Company_Bonfiglioli Transmission Pvt. Ltd.                                  45345 non-null  float64
 26  Company_CESC                                                                45345 non-null  float64
 27  Company_GE T&D India Limited                                                45345 non-null  float64
 28  Company_Guj Ind Power                                                       45345 non-null  float64
 29  Company_Indowind Energy                                                     45345 non-null  float64
 30  Company_JSW Energy Ltd.                                                     45345 non-null  float64
 31  Company_Jaiprakash Power                                                    45345 non-null  float64
 32  Company_Jyoti Structure                                                     45345 non-null  float64
 33  Company_KEC International                                                   45345 non-null  float64
 34  Company_Kalpataru Power                                                     45345 non-null  float64
 35  Company_L&T Transmission & Distribution                                     45345 non-null  float64
 36  Company_Maha Transco – Maharashtra State Electricity Transmission Co, Ltd.  45345 non-null  float64
 37  Company_NHPC                                                                45345 non-null  float64
 38  Company_NLC India                                                           45345 non-null  float64
 39  Company_NTPC Pvt. Ltd.                                                      45345 non-null  float64
 40  Company_Neueon Towers / Sujana Towers Ltd.                                  45345 non-null  float64
 41  Company_Optibelt Power Transmission India Private Limited                   45345 non-null  float64
 42  Company_Orient Green                                                        45345 non-null  float64
 43  Company_Power Grid Corp                                                     45345 non-null  float64
 44  Company_Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)                           45345 non-null  float64
 45  Company_Reliance Energy                                                     45345 non-null  float64
 46  Company_Reliance Power                                                      45345 non-null  float64
 47  Company_Ringfeder Power Transmission India Pvt. Ltd.                        45345 non-null  float64
 48  Company_SJVN Ltd.                                                           45345 non-null  float64
 49  Company_Sterlite Power Transmission Ltd                                     45345 non-null  float64
 50  Company_Sunil Hitech Eng                                                    45345 non-null  float64
 51  Company_Tata Power Company Ltd.                                             45345 non-null  float64
 52  Company_Torrent Power Ltd.                                                  45345 non-null  float64
 53  Company_Toshiba Transmission & Distribution Systems (India) Pvt. Ltd.       45345 non-null  float64
 54  Company_TransRail Lighting                                                  45345 non-null  float64
 55  Company_Unitech Power Transmission Ltd.                                     45345 non-null  float64
dtypes: float64(52), int64(4)
memory usage: 19.4 MB

In [ ]:
!pip install catboost

from sklearn.tree import DecisionTreeRegressor
# Corrected the class name to ExtraTreesRegressor
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor, GradientBoostingRegressor
from lightgbm import LGBMRegressor
from sklearn.svm import SVR
from catboost import CatBoostRegressor
from xgboost.sklearn import XGBRegressor


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
#evalutions
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

Collecting catboost
  Downloading catboost-1.2.7-cp310-cp310-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.8.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)
Downloading catboost-1.2.7-cp310-cp310-manylinux2014_x86_64.whl (98.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 MB 6.8 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.7

In [ ]:
df=df.dropna()

x=df.drop(columns=["Electricity Bill"])
y=df["Electricity Bill"]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
x_train.head()

,Fan,Refrigerator,Air Conditioner,Television,Monitor,MotorPump,Month,Monthly Hours,Tariff Rate,City_Chennai,...,Company_Reliance Power,Company_Ringfeder Power Transmission India Pvt. Ltd.,Company_SJVN Ltd.,Company_Sterlite Power Transmission Ltd,Company_Sunil Hitech Eng,Company_Tata Power Company Ltd.,Company_Torrent Power Ltd.,Company_Toshiba Transmission & Distribution Systems (India) Pvt. Ltd.,Company_TransRail Lighting,Company_Unitech Power Transmission Ltd.
12362,8,22.0,1.0,12.0,1.0,0,9,512,8.3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26357,21,23.0,3.0,11.0,12.0,0,2,577,8.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22319,18,22.0,1.0,12.0,12.0,0,1,514,9.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32505,22,22.0,1.0,3.0,1.0,0,10,565,7.7,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43651,6,20.0,2.0,20.0,7.0,0,4,429,7.4,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [ ]:
def model(x_train_scaled,y_train,x_test_scaled,y_test):
  xgb_model=XGBRegressor()
  xgb_model.fit(x_train_scaled,y_train)
  y_pred=xgb_model.predict(x_test_scaled)
  mse=mean_squared_error(y_test,y_pred)
  mae=mean_absolute_error(y_test,y_pred)
  r2=r2_score(y_test,y_pred)
  return mse,mae,r2
mae_text,mse_text,r2_text=model(x_train,y_train,x_test,y_test)
print(f"Mean Squared Error: {mse_text}")
print(f"Mean Absolute Error: {mae_text}")
print(f"R2 Score: {r2_text}")

Mean Squared Error: 8.862415354353605
Mean Absolute Error: 384.43850651625604
R2 Score: 0.9996626012816993

In [ ]:
def model(x_train_scaled,y_train,x_test_scaled,y_test):
  ct_model=CatBoostRegressor(verbose=0)
  ct_model.fit(x_train_scaled,y_train)
  y_pred=ct_model.predict(x_test_scaled)
  mae_text= mean_absolute_error(y_test,y_pred)
  r2_text=r2_score(y_test,y_pred)
  mse_text=mean_squared_error(y_test,y_pred)
  mase_text=np.sqrt(mse_text)
  return mae_text,r2_text,mase_text,mse_text
mae_text,r2_text,mase_text,mse_text=model(x_train,y_train,x_test,y_test)
print(f"Mean Squared Error: {mse_text}")
print(f"Root Mean Squared Error: {mase_text}")
print(f"Mean Absolute Error: {mae_text}")
print(f"R2 Score: {r2_text}")

Mean Squared Error: 278.5082624612946
Root Mean Squared Error: 16.688566818672435
Mean Absolute Error: 7.55330228523507
R2 Score: 0.9997555699306967

In [ ]:
def model(x_train_scaled,y_train,x_test_scaled,y_test):
  rf_model=RandomForestRegressor()
  rf_model.fit(x_train_scaled,y_train)
  y_pred=rf_model.predict(x_test_scaled)
  mae_text= mean_absolute_error(y_test,y_pred)
  r2_text=r2_score(y_test,y_pred)
  mse_text=mean_squared_error(y_test,y_pred)
  mape_test=np.mean(np.abs((y_test - y_pred) / y_test)) * 100
  return mae_text,r2_text,mse_text,mape_test
mae_text,r2_text,mse_text,mape_test=model(x_train,y_train,x_test,y_test)
print(f"Mean Squared Error: {mse_text}")
print(f"Mean Absolute Error: {mae_text}")
print(f"R2 Score: {r2_text}")
print(f"MAPE: {mape_test}")

Mean Squared Error: 31.525606508987114
Mean Absolute Error: 1.373306649025052
R2 Score: 0.9999723318578928
MAPE: 0.03957691260923716

In [ ]:
def model(x_train_scaled,y_train,x_test_scaled,y_test):
  dt_model=DecisionTreeRegressor()
  dt_model.fit(x_train_scaled,y_train)
  y_pred=dt_model.predict(x_test_scaled)
  mae_text= mean_absolute_error(y_test,y_pred)
  r2_text=r2_score(y_test,y_pred)
  mse_text=mean_squared_error(y_test,y_pred)
  mape_test=np.mean(np.abs((y_test - y_pred) / y_test)) * 100
  return mae_text,r2_text,mse_text,mape_test
mae_text,r2_text,mse_text,mape_test=model(x_train,y_train,x_test,y_test)
print(f"Mean Squared Error: {mse_text}")
print(f"Mean Absolute Error: {mae_text}")
print(f"R2 Score: {r2_text}")
print(f"MAPE: {mape_test}")

Mean Squared Error: 97.37840555739339
Mean Absolute Error: 1.8111147866358706
R2 Score: 0.9999145367889315
MAPE: 0.052867796199050174

In [ ]:
def model(x_train_scaled,y_train,x_test_scaled,y_test):
  lgbm_model=LGBMRegressor()
  lgbm_model.fit(x_train_scaled,y_train)
  y_pred=lgbm_model.predict(x_test_scaled)
  mae_text= mean_absolute_error(y_test,y_pred)
  r2_text=r2_score(y_test,y_pred)
  mse_text=mean_squared_error(y_test,y_pred)
  mape_test=np.mean(np.abs((y_test - y_pred) / y_test)) * 100
  return mae_text,r2_text,mse_text,mape_test
mae_text,r2_text,mse_text,mape_test=model(x_train,y_train,x_test,y_test)
print(f"Mean Squared Error: {mse_text}")
print(f"Mean Absolute Error: {mae_text}")
print(f"R2 Score: {r2_text}")
print(f"MAPE: {mape_test}")

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.026615 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 481
[LightGBM] [Info] Number of data points in the train set: 36276, number of used features: 54
[LightGBM] [Info] Start training from score 4311.513883
Mean Squared Error: 282.55598005502765
Mean Absolute Error: 10.002900324896984
R2 Score: 0.9997520174906965
MAPE: 0.2745591758882116

# New Section